{
    "compact": "auto",
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["> 1%"]
                }
            }
        ]
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "babel-plugin-syntax-jsx",
        ["babel-plugin-inferno", { "imports": true }]
    ]
}
